<h1> Guest Information </h1>

<h2>Name: <%= @guest.name %></h2>
<h2>Occupation: <%= @guest.occupation %></h2>

<% if @guest.appearances.any? %>
    <h3> Guest Appearances (Ordered By Rating): </h3>
    <% @guest.order_by_rating.each do |appearance| %>
    <h4>Episode: <%= appearance.episode.number %> on <%= link_to appearance.episode.date, episode_path(appearance.episode) %> - Appearance Rating: <%= appearance.numeric_rating %></h4>
    <% end %>
<% else %>
    <h3> This Guest has yet to appear on our show.</h3>
<% end %>
