<h1> Episode Show Page </h1>
<h3>Date: <%= @episode.date %></h3>
<% @episode.guests.each do |guest| %>
   <ul>Guests in this Episode: <%= link_to guest.name, guest_path(guest) %><br>
   <%end%>
   Average Rating: <%= @episode.average_rating%></ul>
   <%= link_to "Back to All Episodes", episodes_path %>
   <%= link_to "Back to All Guests", guests_path %>