<%if flash[:errors]%>
  <% flash[:errors].each do |e|%>
    <p style="color:red"> <%=e%></p>
  <%end%>
<%end%>

<h1>Appearance Form</h1>
<%= form_for( @appearance , remote: true) do |f| %>
<%=f.label :guest%>
<%=f.collection_select :guest_id,@guests,:id,:name%>
<%=f.label :episode%>
<%=f.collection_select :episode_id,@episodes,:id,:number%>
<%=f.label :rating%>
<%=f.number_field :rating%>
<%=f.submit%>
<% end %>