<h1>Create New Appearance!</h1>

<% if flash[:error] %>
  <ul>
  <% flash[:error].each do |error|%>
    <li><%= error %></li>
  <%end%>
  </ul>
<%end%>

<%= form_for @appearance do |f| %>
<%= f.collection_select :guest_id, @guests, :id, :name %><br>

<%= f.collection_select :episode_id, @episodes, :id, :date %><br>

<%= f.label :rating%>
<%= f.text_field :rating%><br>

<%= f.submit %>
<%end%>