<h1>New Guest Appearance</h1>
<br> 

<% if flash[:appearance_errors] %> 
    <% flash[:appearance_errors].each do |error| %>
        <p><%= error %></p>
        <% end %> 
    <% end %>
    
<br>
<%= form_for @appearance do |f| %> 

    <%= f.label :guest_id %> 
    <%= f.collection_select :guest_id, @guests, :id, :name %>

    <%= f.label :episode_id %> 
    <%= f.collection_select :episode_id, @episodes, :id, :date %>

    <%= f.label :rating %><br>
    <%= f.text_field :rating %>

    <%= f.submit %> 

<% end %>

